.footer {
  width: 100%;
  height: 300px;
  background-color:#F3F4F6;
  padding-top: 26px;
  .footer_section {
    .footer__logo {
      h2 {
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color:#1f2937;
          font-weight: 600;
          font-size: 28px;
          line-height: 150%;
          &:hover {
            color: #4b5563;
          }
          svg {
            margin-left: 0;
            margin-right: 0;
          }
          p {
            margin-left: 6px;
          }
        }
      }
    }
    .footer-types {
      display: flex;
      line-height: 25px;
      text-align: center;
      justify-content: center;
      gap: 40px;
      .footer_box {
        margin-right: 0;
        margin-left: 0;
        nav {
          ul {
            li {
              list-style-type: none;
              a {
                text-decoration: none;
                font-weight: 500;
                font-size: 20px;
                color:#9ca3af;
              }
              .footer__link {
                font-weight: 600;
                font-size: 20px;
                color:  #5fd788;
              }
            }
          }
        }
      }
    }
    .footer__text {
      display: flex;
      text-align: center;
      justify-content: center;
      margin-top: 54px;
      p {
        width: 322px;
        height: 32px;
        font-weight: 400;
        font-size: 20px;
        color:  #9ca3af;
      }
    }
  }
}
